PowerLogger/.pio
PowerLogger/.pioenvs
PowerLogger/.piolibdeps
PowerLogger/.vscode

PowerLoggerWifi/.pio
PowerLoggerWifi/.pioenvs
PowerLoggerWifi/.piolibdeps
PowerLoggerWifi/.vscode

Calibration/ADC_Calibration/.pio
Calibration/ADC_Calibration/.pioenvs
Calibration/ADC_Calibration/.piolibdeps
Calibration/ADC_Calibration/.vscode